<div class="about-container">
  <div class="about-text-container">
    <img class="about-fam-photo" src="../assets/images/fam.png" alt="Aidan, Jufe, and Jenny">
    <div class="about-text">
      <h1>About</h1>
      <p>I am a serial builder. From legos to metal boxes to multi-million dollar machines to home improvements to browser games to websites I've always got some project going. I love learning about new ways of doing things and seeing my ideas become reality.</p>
    </div>
  </div>
  <div class="about-links-container">
    <div class="about-link-container">
      <a href="mailto:jufebrown@gmail.com"><img class="about-image" src="../assets/images/about/email-logo.png" alt="jufebrown@gmail.com"><p>jufebrown@gmail.com</p></a>
    </div>
    <div class="about-link-container">
      <a href="https://www.linkedin.com/in/jufe-brown-tsai-3a2701126/"><img class="about-image" src="../assets/images/about/linkedin.svg" alt="https://www.linkedin.com/in/jufe-brown-tsai-3a2701126/"><p>LinkedIn</p></a>
    </div>
    <div class="about-link-container">
      <a href="https://github.com/Jufebrown"><img class="about-image" src="../assets/images/about/github.png" alt="https://github.com/Jufebrown"><p>Github</p></a>
    </div>
  </div>
</div>
