<div>
  <div class="about-text-container">
    <img class="about-fam-photo" src="../assets/images/fam.png" alt="Aidan, Jufe, and Jenny">
  </div>
  <div class="about-link-container">
    <a href="mailto:jufebrown@gmail.com"><img class="about-image" src="../assets/images/about/email-logo.png" alt="jufebrown@gmail.com"></a>
    <a href="https://www.linkedin.com/in/jufe-brown-tsai-3a2701126/"><img class="about-image" src="../assets/images/about/linkedin.svg" alt="https://www.linkedin.com/in/jufe-brown-tsai-3a2701126/"></a>
    <a href="https://github.com/Jufebrown"><img class="about-image" src="../assets/images/about/github.png" alt="https://github.com/Jufebrown"></a>
  </div>
</div>
