<div class="nav-container" ng-controller="NavCtrl">
  <nav>
    <a href="/"><h1 class="jufe">Jufe Brown-Tsai</h1></a>
    <ul>
      <a href="#!/home"><li ng-show="!atHome" class="home-nav"><span class="first-letter">h</span>ome</li></a>
      <a href="#!/projects"><li ng-show="!atProjects" class="project-nav"><span class="first-letter">p</span>rojects</li></a>
      <a href="#!/about"><li ng-show="!atAbout" class="about-nav"><span class="first-letter">a</span>bout</li></a>
    </ul>
  </nav>
</div>
