<div class="projects-container">
  <ul class="projects-card-container">
    <li class="card" ng-repeat="project in projects">
      
      <div class="card-corner-container card-corner-container-top">
        <div class="card-corner corner-top-left"></div>
        <div class="card-corner corner-top-right"></div>
      </div>

      <div class="project-image-container">
        <img class="project-img" ng-src="{{project.image}}">
      </div>

      <h3>{{project.name}}</h3>

      <p ng-bind="project.description"></p>

      <div class="project-link-container">
        <a href="{{project.url}}">
          <img src="../assets/images/project-link-icons/www.png" alt="website">
        </a>
        <a href="{{project.github}}">
          <img src="../assets/images/project-link-icons/github.png" alt="github repo">
        </a>
      </div>

      <div class="card-corner-container card-corner-container-bottom">
        <div class="card-corner corner-bottom-left"></div>
        <div class="card-corner corner-bottom-right"></div>
      </div>

    </li>
  </ul>

  </div>

</div>