<div class="projects-container">
  <ul class="projects-card-container">
    <li class="card" ng-repeat="project in projects">
      <h3>{{project.name}}</h3>
      <p ng-bind="project.description"></p>
    </li>
  </ul>

  </div>



  <!-- CODE FOR LATER CAROUSEL -->
  <!-- <div class="carousel-container">
    <div class="carousel-left-nav carousel-side-nav">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </div>
    <div class="carousel-main">
      <div class="carousel-slide"></div>
      <div class="carousel-slide-control-container"></div>
    </div>
    <div class="carousel-right-nav carousel-side-nav">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
  </div> -->
</div>