/*
 * Globals
 */

a,
a:focus,
a:hover {
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	height: 100%;
	background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(images/background.JPG) center slategray;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	margin-bottom: 30px;
}

.site-wrapper {
	margin-top: 51px; /*top margin for nav*/
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	padding: 0 0 0 0;
}

.section-heading {
	width: 50%;
	height: 2.5em;
	padding-right: 15px;
	text-align: right;
	border-radius: 0 1.25em 1.25em 0;
	margin-top: 100px;
	margin-bottom: 50px;
}



/*about styles*/

.about-background {
	background: rgba(2,123,52,.5);
}

.about-flexbox {
	display: flex;
	flex-direction: row;
	margin: 2.5% 20px 2.5% 20px;
}

.about-box {
	margin: 2.5% 20px 2.5% 20px;
}

.bio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	flex-grow: 1;
	width: 25%;
}

.bio p {
	margin: 5px;
	text-align: justify;
}

.star-bio {
	width: 50px;
	margin: 20px auto 20px auto;
}

.star-work {
	width: 50px;
	margin: 20px auto 20px auto;
}

.pic-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
	padding: 10px;
	flex-grow: 2;
	width: 40%;
}

.profile-pic {
	border-radius: 10px;
	width: 100%;
}

.school-work-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	flex-grow: 1;
	width: 25%;
}

.work-text-wrap {
	text-align: justify;
	margin: 5px;
}



/*project styles*/

.project-background {
	background: rgba(38,120,240,.5);
}

.thumbnail-wrapper {
	margin: 2.5% 20px 2.5% 20px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.thumb-box {
	margin: 2.5% 20px 2.5% 20px;
	border: none;
	flex-grow: 1;
}

.thumb-img {
	border-radius: 3px;
	margin: 0 0 0 0;
}

.github-button {
	margin: auto 10px auto 10px;
}



/*contact styles*/

.contact-background {
	background: rgba(169,124,44,.5);
}



/* Sticky footer styles*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #222;
}



/*media queries*/

@media (max-width: 1000px) and (min-width: 768px) {
	.about-flexbox {
		flex-wrap: wrap;
	}

	.star-work {
		margin: auto 5px auto 5px;
	}

	.school-work-box {
		flex-direction: row;
		flex-grow: 2;
	}
}

@media (max-width: 768px) {
  	.about-flexbox {
  		flex-wrap: wrap;
  	}

  	.bio {
  		order: 2;
  		width: 40%;
  	}

  	.star-work {
  		margin: 10px auto 10px auto;
  	}

  	.pic-box {
  		order: 1;
	}

  	.school-work-box {
  		order: 3;
  		width: 40%;
  		flex-direction: column;
  	}

  	.thumbnail-wrapper {
  		flex-wrap: wrap;
  	}
}

@media (max-width: 320px) {
  	.about-flexbox {
  		flex-wrap: wrap;
  	}
}
