/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}






html {
  position: relative;
  min-height: 100%;
}

body {
	height: 100%;
	background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url(/images/background.jpg) center slategray;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	margin-bottom: 30px;
}

.site-wrapper {
	margin-top: 51px; /*top margin for nav*/
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

.projects {
	margin-top: 100px;
}

.section-heading {
	background: rgba(0,0,0,.5);
	width: 40%;
	height: 2.5em;
	padding-right: 15px;
	text-align: right;
	border-radius: 0 1.25em 1.25em 0;
}

.thumbnail-wrapper {
	margin: 2.5% 20px 2.5% 20px;
}

.thumb-box {
	background: rgba(0,0,0,.5);
	border: none;
}

.thumb-img {
	border-radius: 3px;
}

/* Sticky footer styles*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #222;
}

