.flex-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100, 8px);
  grid-template-rows: repeat(60, 8px);
  grid-gap: 1px;
  width: 900px;
  height: 540px;
}

.item{
  background-color: whitesmoke;
  border-radius: 50%;
  -webkit-transition: background-color .2s ease;
  -moz-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.blue-add {
  background-color: blue;
}

.green-add {
  background-color: green;
}