.flex-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100, 8px);
  grid-template-rows: repeat(60, 8px);
  grid-gap: 1px;
  width: 900px;
  height: 540px;
}

.item{
  border-radius: 50%;
}

.blue {
  background-color: blue;
  transition: 1s linear all;
  opacity:1;
}