@import 'fonts';
@import 'variables';

/* GENERAL STYLES */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monofur;
}

body {
  background-color: $white;
}

h3 {
  font-family: Pattaya;
}

@import 'mobile';
@import 'nav';
@import 'home';
@import 'projects';
@import 'about';
